@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.text-container {
    padding: 16px;
}

.text-heading {
    color: #323f4b;
    font-size: 25px;
}

.text-des {
    color: #9aa5b1;
}

.picture-container {
    color: #323f4b;
    font-size: 25px;
    padding: 5px;
}

.video-container {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 4px;
}

.video- {
    color: #323f4b;
    font-size: 25px;
    padding: 5px;
}